* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.sidebar_menu {
    background-color: #f17272;
    height: 100vh;
}

.sidebar-title {
    border-bottom: 1px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding-bottom: 20px;
}

.sidebar-item {
    margin: 10px;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

.sidebar-item:hover {
    background-color: #db3131;
}

.sidebar-item.active {
    background-color: #db3131;

}

.sidebar_content {
    margin: 0 10px;
    font-family: arial, sans-serif;
}



.managament-title {
    font-size: 36px;
    color: #db3131;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}

.list-info,
.list-user {
    margin: 10px 0;
}

.list-info {
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-left: 5px solid #f17272;
    margin-right: 50px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.content{
    display: none;
}

.content.active{
    display: block;
}

.btn {
    width: 100%;
    background-color: #dddddd;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #db3131;
    color: #fff;
}